<section id="footer" class="container-fluid">

    <div class="row align-items-center">
    
    <div class="col-md-4 brand">
    
    <a href="#" class="logo"><img src="/assets/home/home1.jpg" alt=""></a>
    
    <div class="icons">
        <a href="#" class="fa fa-facebook-square"></a>
        <a href="#" class="fa fa-twitter-square"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-pinterest-square"></a>
    </div>
    
    </div>
    
    <div class="col-md-4 footer-links">
    <h3>links:</h3>
    <a href="#home">home</a>
    <a href="#menu">menu</a>
    <a href="#about">about</a>
    <a href="#blog">blog</a>
    <a href="#contact">contact</a>
    </div>
    
    <div class="col-md-4 text-center text-md-left letter">
    <h2>newsletter</h2>
    <input type="text"><br>
    <input type="submit" value="subscribe">
    </div>
    
    </div>
    
    <h1>&copy; copyright @ 2020 by <span>miss.web designer</span></h1>
    
    </section>
    
    <!-- footer section ends  -->
    