<br>
<br>
<br>

<div class="container">
        <h1 >LOGIN</h1>
          <form role="form" class="form-horizontal">
                    <div class="input-group mb-3">
                       <div class="input-group-prepend"><span class="input-group-text">Email id</span></div>
                       <input type="email" class="form-control" name="email" id="email">
                     </div>
                   <div class="input-group mb-3">
                      <div class="input-group-prepend"><span class="input-group-text">password</span></div>
                      <input type="password" class="form-control" name="password" id="password">
                  </div>
                  <button type="button" class="btn btn-primary">Login</button>
          </form>
    </div>
    <app-footer></app-footer>