<section class="title-banner banner-part-inner-pages">
    <div class="wrap-tb-bg">
    <div class="tb-background">
    <div class="tb-background-bgoverlay"></div>
    <div class="tb-background-img" >
    <img src="https://hungryhelpers.in/assets/rest_57/img/breadcrumb.jpg" alt="banner" width=100%>
    </div>
    </div>
    </div>
    <div class="tb-text">
    <h1>ABOUT US</h1>
    <div class="tb-line"></div>
    </div>
    </section>
    <section class="inner-page-content about-page">
        <div class="container">
        <div class="row">
        <div class="col-md-12 innerpage-content-wrap">
        <div class="about-us-contact">
        <h1 class="page-title">Who <span>We Are</span></h1>
        <div class="sub-heading-part">We are the best quality and service restaurant</div>
        <div class="col-md-5 about-us-img-left">
        <img src="https://hungryhelpers.in/assets/rest_57/img/about.jpg" alt="image" width=50%></div>
        <div class="col-md-7"><p>Hungry Helpers is one of the oldest places in the city & the legendary taste of our specially prepared pizzas  still rules the town. We offer Multiple Options. We heartily welcome you to come unwind, socialize and share good times with your family & friends at Hungry Helpers or order online and enjoy delicous food with comfort of home.Hungry Helpers restaurant serves freshly prepared dishes with a balance between sweet, sour, pungent and spicy food. We welcome you to experience the taste of Hungry Helpers and hope that you would never forget the taste of our authentic mouth-watering dishes and the overall experience at our restaurant.</p>
        </div>
        </div>
        </div>
        
        </div>
        </div>
        </section>
        <section class="our_team about-page">
        <div class="container">
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 about-page">
        <h1 class="page-title" >Our <span>Team</span></h1>
        <p>
        Have a look at our food menu, which contains authentic & traditional best cuisine in many different categories. Whether you’re looking for an ideal location for a memorable dinner or elegant high quality food experience, Hungry Helpers menu is well balanced combination of authentic dishes. Visit us for experience the authentic flavors of food.</p>
        </div>
        </div>
        </div>
        </section>
        <section class="online_deleivery about-page">
        <div class="container">
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 about-page">
        <h1 class="page-title" >Home Delivery –<span> Order Online</span></h1>
        <p>If you want to enjoy authentic food in the comforts of your home, You may place an order online pay either online using online payment or cash on delivery. </p>
        </div>
        </div>
        </div>
        </section>
       <br>
       <br>
       <br>
      <app-footer></app-footer>