<section id="dish" class="container">

    <div class="heading text-center">
        <h1>OUR <span>DISHES</span></h1>
    </div>

    <div class="box-container">

        <div class="box">
            <img src="./assets/menu/menu3.jpeg" alt="">
            <div class="info">
                <h3>DISH1</h3>
                <p>Is it just me or does this meal look more scrumptious because I’m on a diet?</p>
                <a href="#"><button>view</button></a>
            </div>
        </div>

        <div class="box">
            <img src="./assets/menu/menu4.jpeg" alt="">
            <div class="info">
                <h3>DISH2</h3>
                <p>To live a full life, you have to fill your stomach first.</p>
                <a href="#"><button>view</button></a>
            </div>
        </div>

        <div class="box">
            <img src="./assets/menu/menu5.jpeg" alt="">
            <div class="info">
                <h3>DISH3</h3>
                <p>Good food never fail in bringing people together</p>
                <a href="#"><button>view</button></a>
            </div>
        </div>

        <div class="box">
            <img src="./assets/menu/menu6.jpeg" alt="">
            <div class="info">
                <h3>DISH4</h3>
                <p>Food shared is happiness multiplied.</p>
                <a href="#"><button>view</button></a>
            </div>
        </div>

        <div class="box">
            <img src="./assets/menu/menu7.jpeg" alt="">
            <div class="info">
                <h3>DISH5</h3>
                <p>"Pizza is not a 'trend' it's a way of life"</p>
                <a href="#"><button>view</button></a>
            </div>
        </div>

        <div class="box">
            <img src="./assets/menu/menu8.jpeg" alt="">
            <div class="info">
                <h3>DISH6</h3>
                <p>Skinny people are easier to kidnap. Stay safe, eat cake.</p>
                <a href="#"><button>view</button></a>
            </div>
        </div>

    </div>

</section>
<!-- special card section starts  -->

<section id="special" class="container-fluid">

    <div class="heading text-center">
    <h1>OUR <span>SPECIAL</span></h1>
    <p>Everything tastes good when you're hungry.
        Love and sausage are alike. ...</p>
    </div>
    
    
    <div class="card-container">
    
        <div class="card">
            <img src="./assets/menu/menu9.jpg" alt="">
        
            <p> If you put an egg on a burger, you've got breakfast.<BR>Meat or veggie, all burgers are beautiful.<br>
                I only have eyes for burgers and fries.</p>
            <a href="#"><button>VIEW</button></a>
        </div>
    
        <div class="card">
            <img src="./assets/menu/menu10.jpg" alt="">
            <p>These scrumptious garlicy paneer tikka takes in lot of ingredients but marry the aromas so well that you will sense the burst of flavors </p>
            <a href="#"><button>VIEW</button></a>
        </div>
    
        <div class="card">
            <img src="./assets/menu/menu11.png" alt="">
            <p> So many shrimp, so little calories! Eat well, live well.Wild shrimp are a great source of amino acid,helping to maintain a balanced diet.</p>
            
            <a href="#"><button>VIEW</button></a>
        </div>
    
    </div>
    
    </section>
<app-footer></app-footer>

