
<!-- home section starts  -->

<section id="home" class="container-fluid">

    <div class="row min-vh-100 align-items-center">
        
    <div class="col-md-8 ml-md-5 text-md-left text-center content">
        <h1>Food that you can't resist</h1>
        <h2>Enjoy the marvelous taste</h2>
        
        <a href="#special"><button>get started</button></a>
    </div>
    
    <div class="video-container">
        <video src="./assets/logo/video.mp4" autoplay loop class="vid vid"></video>
        <video src="./assets/logo/video1.mp4" autoplay loop class="vid vid1"></video>
        <video src="./assets/logo/video2.mp4" autoplay loop class="vid vid2"></video>
        
    </div>
    </div>
</section>
    
  
    
    
    <!-- home section ends  -->
