<section class="blog-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            
        </div>
        <div class="row d-flex">
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="blog-start d-flex">
                    <a href="#"class="block-20 img"
                    style="background-image: url('./assets/blog/blog2.jpg');">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="des">
                            <p><i class="fa fa-calendar"></i>
                            24 January 2020
                            </p>
                        </div>
                        <h3 class="heading mb-3">
                            <a href="#">
                                Lorem Ipsum
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ullam illo magnam, nihil nam odit exercitationem voluptatem 
                        laudantium suscipit deserunt eum.</p>
                        <a href="#" class="btn-custom">Continue
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--blog1--->
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="blog-start d-flex">
                    <a href="#"class="block-20 img"
                    style="background-image: url('./assets/blog/blog3.jpg');">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="des">
                            <p><i class="fa fa-calendar"></i>
                            24 February 2020
                            </p>
                        </div>
                        <h3 class="heading mb-3">
                            <a href="#">
                                Lorem Ipsum
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ullam illo magnam, nihil nam odit exercitationem voluptatem 
                        laudantium suscipit deserunt eum.</p>
                        <a href="#" class="btn-custom">Continue
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!----->
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="blog-start d-flex">
                    <a href="#"class="block-20 img"
                    style="background-image: url('./assets/blog/blog4.jpg');">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="des">
                            <p><i class="fa fa-calendar"></i>
                            24 March 2020
                            </p>
                        </div>
                        <h3 class="heading mb-3">
                            <a href="#">
                                Lorem Ipsum
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ullam illo magnam, nihil nam odit exercitationem voluptatem 
                        laudantium suscipit deserunt eum.</p>
                        <a href="#" class="btn-custom">Continue
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!----->
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="blog-start d-flex">
                    <a href="#"class="block-20 img"
                    style="background-image: url('./assets/blog/blog5.jpg');">
                    </a>
                    <div class="text p-4 bg-light">
                        <div class="des">
                            <p><i class="fa fa-calendar"></i>
                            24 July 2020
                            </p>
                        </div>
                        <h3 class="heading mb-3">
                            <a href="#">
                                Lorem Ipsum
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Ullam illo magnam, nihil nam odit exercitationem voluptatem 
                        laudantium suscipit deserunt eum.</p>
                        <a href="#" class="btn-custom">Continue
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!----->
        </div>
    </div>
</section>
<BR>
    <br>
    <br>
    <br>
    <br>
    <br>
<!--second type-->
<div class="container">
    <div class="box">
      <img src="./assets/blog/blog6.jpg">
      <span>FOOD PHOTOGRAPHY</span>
    </div>
    <div class="box">
      <img src="./assets/blog/blog10.jpg">
      <span>Image</span>
    </div>
    <div class="box">
      <img src="./assets/blog/blog8.jpg">
      <span>EFFICENT</span>
    </div>
    <div class="box">
      <img src="./assets/blog/blog9.jpg">
      <span>Effect</span>
    </div>
  </div>
<!--third blog-->
  <div class="container">
    <div class="box">
      <img src="./assets/blog/blog11.jpg">
      <span>FOOD PHOTOGRAPHY</span>
    </div>
    <div class="box">
      <img src="./assets/blog/blog12.jpeg">
      <span>Image</span>
    </div>
    <div class="box">
      <img src="./assets/blog/blog13.jpg">
      <span>EFFICENT</span>
    </div>
    <div class="box">
      <img src="./assets/blog/blog14.jpg">
      <span>Effect</span>
    </div>
  </div>
<app-footer></app-footer>
 <!-- End of Blog Section-->
 